<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Michael, there is a new blog post avaliable on Fashioned For Him!</p> 
    <p><h3><%= @article.title %></h3></p>
  </body>
</html>