<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.try(:name) %>, there is a new blog post from Fashionedforhim:</p> 
    <p><h3><%= @article.title %></h3></p>
  </body>
</html>