<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.try(:name) %></h1>
    <h3>[Blog Post Name Goes Here...]</h3>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>